* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #191a1b;
    position:relative;
    margin: 0;
    webkit-font-smoothing: antialiased;
}

header {
	color:#fff;
	margin: 0px;
	padding: 0px;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.menu {
	border-bottom: 1px solid #4A5964;
	padding-top: 20px;
	padding-bottom: 20px;
    flex-shrink: 0;
    width: 100%;
}

.menu div {
	display: inline-block;
}

.menu a {
	text-decoration: none;
	color:#fff;

}

.menu a:hover {
	color: #fff;
}

.container {
    max-width: 1330px  !important;
}

.big-circles {
	background-image: url(../img/bottom-blur-circle.svg),url(../img/top-blur-circle.svg);
    background-repeat: no-repeat;
    background-position: right calc(50% + 526px) bottom -158px,right 50% top -252px;
    background-size: 793px,693px;
    background-attachment: fixed;
    padding-top: 80px;
    min-height: 100vh;
    overflow: hidden;
    position:relative;
}

h1 {
	/*font-weight: 800;*/
	font-family: 'Recursive', sans-serif;
	font-size: 30px;
}

.nav-center {
	margin-left: 60px;
}

.nav-left {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    margin-left: 20px;
}

.nav-right {
	float: right;
}

.btn-group-nav a {
	margin-left: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: hsla(0,0%,100%,.75);
}

.content-center,.content-left {
	display: inline-block;
}

.content-left {
	width: 20%;
	color: white;
	margin: 0 auto;
	vertical-align: top;
}

.region-details {
	float: right;
	margin-top: 85px;
}

.region-details ul {
	list-style-type: none;
}

.region-details ul strong {
	font-family: "Playfair Display",serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 30px;
	display: block;
	color: white;
}

.principal-strong {
	color: #00d1ff  !important;
}

.region-details ul li {
	margin-bottom: 30px;
	letter-spacing: .35px;
	color: #a4a9bf;
	border-left: 2px solid #1b1f3a;
    /*border-left-color: rgb(27, 31, 58);
	color: hsla(0,0%,100%,.7);*/
	font-family: "Manrope",sans-serif;
	font-weight: 500;
	font-size: 12px;
	line-height: 18px;
	letter-spacing: .35px;
	padding-left: 16px;
	margin-bottom: 24px;
	cursor: pointer;
	transition: border-color .35s ease-in-out;
}

.principal-li {
	border-color: #00d1ff !important;
}

.region-details ul li:hover {
	border-left: 2px solid white;
}

.content-center {
	width: 60%;
	margin: 0 auto;
}

svg {
	margin-top: 30px;
}


.content-overview {
	margin-top: 50px;
}

.map path {
	fill: #11799B;
	stroke: #000;
	stroke-width:2px;
	transition: fill 0.3s;
}

/*REGION METROPOLITANA*/
/*.map #GT-GU {
	fill: #04C0EB;
}*/

/*REGION SUROCCIDENTE*/
/*.map #GT-QZ {
	fill: #04C0EB;
}

.map #GT-RE {
	fill: #04C0EB;
}

.map #GT-SM {
	fill: #04c0eb;
}

.map #GT-SU {
	fill: #04C0EB;
}

.map #GT-SO {
	fill: #04C0EB;
}

.map #GT-TO {
	fill: #04C0EB;
}*/

/*REGION NOROCCIDENTE*/
/*.map #GT-QC {
	fill: #04C0EB;
}

.map #GT-HU {
	fill: #04C0EB;
}*/

/*CENTRAL*/
/*.map #GT-CM {
	fill: #04C0EB;
}

.map #GT-SA {
	fill: #04C0EB;
}

.map #GT-ES {
	fill: #04C0EB;
}*/

/*VERAPAZ*/
/*.map #GT-AV {
	fill: #04C0EB;
}

.map #GT-BV {
	fill: #04C0EB;
}*/

/*NORORIENTE*/
/*.map #GT-CQ {
	fill: #04C0EB;
}

.map #GT-PR {
	fill: #04C0EB;
}

.map #GT-IZ {
	fill: #04C0EB;
}

.map #GT-ZA {
	fill: #04C0EB;
}*/
/*SURORIENTE*/
/*.map #GT-JU {
	fill: #04C0EB;
}

.map #GT-JA {
	fill: #04C0EB;
}

.map #GT-SR {
	fill: #04C0EB;
}*/

/*PETEN*/
.map .region {
	fill: #04C0EB;
}

.map h3 {
	font-family: 'Playfair Display', serif;
	color: white;
	text-align: center;
	font-weight: 700;
    font-size: 36px;
    line-height: 48px;
}



